@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* .wrapper{
  background-color:  hsl(218, 23%, 16%);
} */
.box {
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card {
  width: 70%;
  max-width: 700px;
  text-align: center;
  border-radius: 1rem;
  background-color: hsl(217, 19%, 24%);
  align-items: center;
  position: relative;
  margin: 0;
  box-shadow: 0 5px 7px;
}
button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  align-items: center;
  border: none;
  cursor: pointer;
  top: 99%;
  bottom: 0;
  left: 47%;
  display: flex;
  justify-content: center;
}
button:hover {
  box-shadow: 0px 0px 10px hsl(150, 100%, 66%);
}

.dice-img {
  width: 15px;
}
.pattern-img {
  display: block;
  width: 90%;
  max-width: 700px;
  margin: 10px auto;

}

p {
  margin: 0;
  padding: 0.5rem;
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  font-size: 23px;
}
h4 {
  margin-top: 2rem;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  color: hsl(150, 100%, 66%);
  font-size: 10px;
}

@media (max-width: 375px) {
  .card {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
 
  }
  button {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    bottom: -20px;  
  }
  .pattern-img {
    width: 60%;
  }
}
